[user]
  name = Janick Martinez Esturo
  email = janick.martinez.esturo@gmail.com
  signingkey = A85C4836
[color]
  ui = auto
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[color "branch"]
  upstream = cyan # blue on black is hard to read in git branch -vv: use cyan instead
[core]
  excludesfile = ~/.gitignore
  whitespace = -trailing-space # don't consider trailing space change as a cause for merge conflicts
  editor = nano
[alias]
  # shortcuts
  co = checkout
  br = branch
  ci = commit -v
  cif = commit -v --fixup
  st = status
  sst = submodule status --recursive
  su = submodule update --recursive
  sur = submodule update --recursive --remote
  sco = !git checkout $1 && git su && :
  f = fetch
  p = fetch
  ls = ls-files
  df = diff
  dc = diff --cached

  # place all submodules on their respective branch specified in .gitmodules
  sm-co-trackb   = "!git submodule foreach -q --recursive 'branch="$(git config -f $toplevel/.gitmodules submodule.$name.branch)"; [ ! -z "$branch" ] && echo $branch @ $name && git co $branch || echo NONE @ $name'"
  sm-co-trackb-p = "!git submodule foreach -q --recursive 'branch="$(git config -f $toplevel/.gitmodules submodule.$name.branch)"; [ ! -z "$branch" ] && echo $branch @ $name && git co $branch && git fetch -a -p && git pull || echo NONE @ $name'"

  # git sm-diff will diff the master repo *and* its submodules
  sm-diff = "!git diff && git submodule foreach 'git diff' "

  # git sm-push will ask to push also submodules
  sm-push = push --recurse-submodules=on-demand

  # (graph) logs
  ll  = log --graph --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset%  %m %C(bold white)%s%Creset%+b %C(bold magenta)%N%Creset%Cgreen(%cr) %C(bold blue)<%an>%Creset'   --abbrev-commit --date=relative
  lla = log --graph --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset%  %m %C(bold white)%s%Creset%+b %C(bold magenta)%N%Creset%Cgreen(%cr) %C(bold blue)<%an>%Creset'   --abbrev-commit --date=relative --all
  lls = log --graph --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset%  %m %C(bold white)%s%Creset%+b %C(bold magenta)%N%Creset%Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --all --stat
  lln = log --graph --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset%  %m %C(bold white)%s%Creset%+b %C(bold magenta)%N%Creset%Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --all --name-status
  last = log -1 HEAD

  # show ignored files
  ign = ls-files -o -i --exclude-standard

  # show the history of a file, with diffs
  filelog = log -u
  fl = log -u

  # file-level ignore
  assume   = update-index --assume-unchanged
  unassume = update-index --no-assume-unchanged
  assumed  = "!git ls-files -v | grep ^h | cut -c 3-"

  # snapshot stash
  snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"

  # revert changes
  unstage = reset HEAD --

  # merge file selection
  ours   = "!f() { git checkout --ours $@ && git add $@; }; f"
  theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"

  # stash regex show / apply
  sshow  = "!f() { git stash show stash^{/$*} -p; }; f"
  sapply = "!f() { git stash apply stash^{/$*}; }; f"

  # Publish the current branch by pushing it to the remote "origin", and setting the current branch to track the upstream branch
  publish = !"git push -u origin $(git branch-name)"

  # Unpublish the current branch by deleting the remote version of the current branch
  unpublish = !"git push origin :$(git branch-name)"

  # Get the current branch name
  branch-name = !"git rev-parse --abbrev-ref HEAD"

  # Get the top level directory, regardless of what subdirectory we're in
  root = ! pwd

  # Execute shell scripts. Git always runs scripts in the top directory. For example "git exec pwd" will always show you the top directory
  exec = ! exec

  # Revert a single file of a commit. usage: git-revert-file <sha1> <file>
  revert-file = ! git-revert-file.sh

  # Get recent stuff for standup meetings
  scrum = "!f() { git log --since=\"$1 days ago\" --author='Janick Martinez Esturo' --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset%  %m %C(bold white)%s%Creset%+b %C(bold magenta)%N%Creset%Cgreen(%cr) %C(bold blue)<%an>%Creset' --branches; }; f"

  # Difftool
  showtool = "!f() { git difftool $1^ $1; }; f" # show a commit using difftool
  added = difftool --cached # show staged changes using difftool
[branch]
  autosetuprebase = always # perform rebase instead of merges on 'git pull'
[diff]
  algorithm = patience        # semantically more meaningful diffs
  mnemonicPrefix = true       # use better, descriptive initials (c, i, w) instead of a/b
  renames = true              # show renames/moves as such
  wordRegex = .               # when using --word-diff, assume --word-diff-regex=.
  submodule = diff            # display submodule-related information (diff listing)
  indentHeuristic = true      # try to detect more meaningful change boundaries
  compactionHeuristic = true  # try to compact changes to more meaningful blocks
  tool = icdiff               # install via `pip3 install --user icdiff`
[difftool]
    prompt = false
[difftool "icdiff"]
  cmd = icdiff --line-numbers $LOCAL $REMOTE
[pager]
  difftool = true
[push]
  default = upstream            # default push should only push the current branch
                                # to its push target, regardless of its remote name
  recurseSubmodules = on-demand # also push changes of submodules
[fetch]
  prune = true                  # prune local branches and tags that were deleted remotely
  recurseSubmodules = on-demand # auto-fetch submodule changes (sadly, won't auto-update)
[pull]
  rebase = preserve # preserves merge commits on rebase initiated by pull
[rebase]
  autosquash = true                   # allways autosquash fixup commits
  instructionFormat = [%an @ %ar] %s
  autostash = true                    # stash and reapply dirty worktree on rebase
[mergetool]
  keepBackup = false      # clean up backup files created by merge tools on tool exit
  keepTemporaries = false # clean up temp files created by merge tools on tool exit
  writeToTemp = true      # put the temp files in a dedicated dir anyway
[gui]
  editor = gvim
[clangFormat]
  binary = clang-format-3.9
  style  = file
[credential]
  helper = store
[merge]
  tool = meld
  conflictStyle = diff3  # display common-ancestor blocks in conflict hunks
[tag]
  sort = version:refname # sort tags as version numbers whenever applicable, so 1.10.2 is AFTER 1.2.0
[log]
  abbrevCommit = true    # use abbrev SHAs whenever possible/relevant instead of full 40 chars
  follow = true          # automatically --follow when given a single path
[grep]
  extendedRegexp = true  # consider most regexes to be ERE
[versionsort]
  prereleaseSuffix = -pre
  prereleaseSuffix = .pre
  prereleaseSuffix = -beta
  prereleaseSuffix = .beta
  prereleaseSuffix = -rc
  prereleaseSuffix = .rc
[include]
  path = ~/.gitconfig_private # private git configuration
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  required = true
  clean = git-lfs clean -- %f
[submodule]
  fetchJobs = 4    # fetch submodules in parallel jobs
[stash]
  showPatch = true # show diff on `git stash show`
