[user]
	name = Janick Martinez Esturo
	email = janick@mpi-inf.mpg.de
	signingkey = A85C4836
[color]
	ui = auto
[giggle]
	main-window-maximized = true
	main-window-geometry = 1250x809+1513+124
	main-window-view = HistoryView
	history-view-vpane-position = 350
	file-view-vpane-position = 297
#[color "branch"]
#	current = yellow reverse
#	local = yellow
#	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	excludesfile = ~/.gitignore
[github]
	user = ph03
	token = ade4511a4c3c7d046d6f13ff704ab27f
[alias]
	co = checkout
	br = branch
	ci = commit -v
	st = status
	ls = ls-files

	unstage = reset HEAD --
	last = log -1 HEAD

	df = diff
	dc = diff --cached

	ll  = log --graph --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset%  %m %C(bold white)%s%Creset%+b %C(bold magenta)%N%Creset%Cgreen(%cr) %C(bold blue)<%an>%Creset'   --abbrev-commit --date=relative
	lla = log --graph --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset%  %m %C(bold white)%s%Creset%+b %C(bold magenta)%N%Creset%Cgreen(%cr) %C(bold blue)<%an>%Creset'   --abbrev-commit --date=relative --all
	lls = log --graph --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset%  %m %C(bold white)%s%Creset%+b %C(bold magenta)%N%Creset%Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --all --stat
	lln = log --graph --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset%  %m %C(bold white)%s%Creset%+b %C(bold magenta)%N%Creset%Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --all --name-status

	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard

	# Show the history of a file, with diffs
	filelog = log -u
	fl = log -u

	# File-level ignore
	assume   = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"

	# Snapshot stash
	snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"

	# Merge file selection
	ours   = "!f() { git checkout --ours $@ && git add $@; }; f"
	theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"

[imap]
	folder = "mail/Drafts"
	tunnel = "ssh -q martinez@radeberger.cs.uni-magdeburg.de /usr/sbin/imapd 2>/dev/null"
[branch]
	autosetuprebase = always
[push]
	default = simple
[mergetool]
	keepBackup = false
[gui]
	editor = gvim
[diff]
	algorithm = patience
[clangFormat]
	binary = /home/jmartine/.local/pkg/llvm-3.4/build/bin/clang-format
  style  = file
